v0.1.5/iofServiceRequest.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!ENTITY % Transaction SYSTEM "iofTransaction.dtd">
%Transaction;

<!ELEMENT ServiceTransaction (Transaction)>
<!ELEMENT ServiceRequest (ServiceName, ServiceTransaction*)>
<!ATTLIST ServiceRequest 
  requested CDATA #REQUIRED 
  delivered CDATA #REQUIRED
  modifyDate CDATA #IMPLIED
>
<!ELEMENT ServiceName (#PCDATA)>